@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* THEME */
:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0:   hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
  
  --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  --light-backdrop: hsla(200, 60%, 99%, 0.5);
  --dark-backdrop: hsla(227, 75%, 14%, 0.5);
}

[data-theme="dark"] {
    --bg-gradient: var(--dark-gradient);

    --accent-color: var(--red-400);
    --accent-color-hover: var(--red-500);
    --card-color: var(--neutral-800);
    --card-color-hover: var(--neutral-600);
    --border-color: var(--neutral-600);

    --button-active: var(--red-400);
    --button-active-hover: var(--red-500);
    --button-active-text: var(--neutral-900);
    --button-inactive: var(--neutral-700);
    --button-inactive-hover: var(--neutral-600);
    --button-toggle: var(--neutral-600);
    --button-toggle-hover: var(--neutral-300);

    --text-primary: var(--neutral-100);
    --text-secondary: var(--neutral-300);
    --text-tertiary: var(--neutral-900);

    --modal-backdrop-color: var(--dark-backdrop);
}

[data-theme="light"] {
    --bg-gradient: var(--light-gradient);

    --accent-color: var(--red-700);
    --accent-color-hover: var(--red-500);
    --card-color: var(--neutral-0);
    --card-color-hover: var(--neutral-600);
    --border-color: var(--neutral-200);

    --button-active: var(--red-700);
    --button-active-hover: var(--red-500);
    --button-active-text: var(--neutral-0);
    --button-inactive: var(--neutral-0);
    --button-inactive-hover: var(--neutral-100);
    --button-toggle: var(--neutral-200);
    --button-toggle-hover: var(--neutral-300);

    --text-primary: var(--neutral-900);
    --text-secondary: var(--neutral-600);
    --text-tertiary: var(--neutral-0);

    --modal-backdrop-color: var(--light-backdrop);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
a {
    color: var(--accent-color);
}

button:focus {
    outline: 2px solid var(--accent-color)
}

/* ENTIRE */
.full-screen {
    display: flex;
    justify-content: center;
    background: var(--bg-gradient);
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 425px;
    padding: 1rem;
    height: 100vh;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    border-radius: 16px;
    background-color: var(--card-color);
    width: 100%;
    margin-bottom: 2rem;
}
.theme-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--button-toggle);
    border-radius: 10px;
    padding: 0.2rem;
}
.theme-toggle-button:hover {
    background-color: var(--button-toggle-hover);
}

/* FILTER */
.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.title {
    color: var(--text-primary);
    font-weight: 700;
    font-size: xx-large;
}
.filter-button-container {
    display: flex;
    gap: 0.6rem;
}
.filter-button {
    font-size: large;
    border-radius: 100px;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.filter-button.active {
    color: var(--button-active-text);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.filter-button.active:hover {
    background-color: var(--accent-color-hover);
    border: 1px solid var(--accent-color-hover);
}
.filter-button.inactive {
    color: var(--text-secondary);
    background-color: var(--button-inactive);
    border: 1px solid var(--border-color);
}
.filter-button.inactive:hover {
    background-color: var(--button-inactive-hover);
}

/* EXTENSIONS */
.extensions-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    overflow-y: scroll;
    flex: 1;
    height: auto;
    width: 100%;
    gap: 0.6rem;
    scrollbar-width: none; 
}

/* EXTENSION CARD */
.extension-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 1.4rem;
    width: 100%;
    height: fit-content;
    height: auto;
}
.extension-card-info {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
.extension-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.extension-card-title {
    font-weight: 700;
    font-size: x-large;
    color: var(--text-primary);
}
.extension-card-paragraph {
    font-weight: 400;
    color: var(--text-secondary);
}
.extension-card-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.extension-card-remove-button {
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 100px;
}
.extension-card-remove-button:hover {
    background-color: var(--accent-color);
    color: var(--text-tertiary);
}
.extension-card-switch {
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 2px;
  height: 26px;
  width: 44px;
  transition: background-color 0.3s ease, justify-content 0.3s ease;
}
.extension-card-switch:hover {
  cursor: pointer;
  /* background-color: var(--button-toggle-hover); */
}
.extension-card-switch.inactive {
  justify-content: flex-start;
  background-color: var(--button-toggle);
}
.extension-card-switch:hover {
  justify-content: flex-start;
}
.extension-card-switch.active {
  justify-content: flex-end;
  background-color: var(--accent-color);
}
.extension-card-switch.active:hover {
  background-color: var(--accent-color-hover);
}
.extension-card-switch-circle  {
  background-color: var(--neutral-0);
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.remove-modal-backdrop {
    background-color: var(--modal-backdrop-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.remove-modal-backdrop.hidden {
    display: none;
}
.remove-modal {
    width: 500px;
    height: 500px;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    padding: 1.6rem;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.remove-modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-modal span{
    color: var(--text-primary);
    font-size: x-large;
    font-weight: 700;
}

.remove-modal p {
    color: var(--text-secondary);
}

.remove-modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    width: 100%
}
.remove-modal-buttons button {
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--border-color);
    color: var(--text-secondary);
    border-radius: 100px;
    width: 100%;
}

.remove-modal-buttons button.cancel:hover {
    background-color: var(--button-inactive-hover);
}

.remove-modal-buttons button.confirm {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--text-tertiary);
}

.remove-modal-buttons button.confirm:hover {
    background-color: var(--accent-color-hover);
    border: 1px solid var(--accent-color-hover);
}

.attribution {
    color: var(--text-secondary);
}
/* TABLET */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .filter-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .extensions-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
    }
    .remove-modal-buttons {
        flex-direction: row;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    .container {
        max-width: 1440px;
    }
    .extensions-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}